In [166]:
import requests
from bs4 import BeautifulSoup as bs
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime
from collections import defaultdict

## Read Fresh Vegetables data from USDA website into csv and then load into data frame

In [167]:
url = 'https://www.ers.usda.gov/webdocs/DataFiles/54529/SandU%20Fresh.xlsx?v=43189'
r = requests.get(url)
with open("fresh.csv",'wb') as f:
    f.write(r.content)

In [168]:
# Load fresh.csv into dataframe
# fresh.csv has 32 sheets for 32 vegetables. Hence loading all the the sheets into one single dataframe
column_names = ['Vegetable','Year','Production','Imports','Supply','Exports','Domestic_Availability','Per_Capita_Availability','Current_Dollars','Constant_2009_Dollars']
fresh_df = pd.DataFrame(columns=column_names)
for i in range(1,31):
    temp_df= pd.read_excel("fresh.csv", sheet_name=i)
    if temp_df.shape[1] == 9: # to remove those sheets which have more than 9 columns
        # Get the vegetable name and insert as the first column of the dataframe
        col1 =temp_df.columns[0]
        beg_pos = 15
        end_pos = col1.find(':')
        veg_name = col1[beg_pos:end_pos]
        veg_name = veg_name.replace(', all uses','')
        veg_name = veg_name.replace('fresh ','')
        temp_df.insert(loc=0, column='Vegetable', value=veg_name) 
        
        # now rename the columns and concatenate the DF
        temp_df.columns = column_names
        fresh_df = pd.concat([fresh_df,temp_df.iloc[4:51]], ignore_index  = True) # only rows between 4 and 51 are relevant

In [196]:
fresh_df.shape

(965, 10)

In [169]:
# Write the dataframe data to excel file
writer = pd.ExcelWriter('all_vegetables.xlsx', engine='xlsxwriter')
fresh_df.to_excel(writer, sheet_name='Sheet1')
writer.save()

In [170]:
fresh_df.head()

,Vegetable,Year,Production,Imports,Supply,Exports,Domestic_Availability,Per_Capita_Availability,Current_Dollars,Constant_2009_Dollars
0,artichokes,1971,79.2,26.1,105.3,--,105.3,0.507076,9.72,40.5608
1,artichokes,1972,71,46.8,117.8,--,117.8,0.56123,11.6,46.3907
2,artichokes,1973,60,43.5,103.5,--,103.5,0.488417,14.5,54.9951
3,artichokes,1974,70.2,37.8,108,--,108,0.505017,17.3,60.2074
4,artichokes,1975,73.4,32.4,105.8,--,105.8,0.489876,16.1,51.2821

### Web scrape the food price index data

In [171]:
page = requests.get('https://ycharts.com/indicators/agriculture_index_world_bank')
page = page.content
soup = bs(page, 'html.parser')
dataTableBox = soup.find('div', {"id": "dataTableBox"})
col1 = []
col2 = []
# get the data from table into lists
for tr in dataTableBox.find_all('tr')[2:]:
    cols = tr.find_all('td')
    if(len(cols) == 0 ): # for empty div comming in between
        continue
#     print(datetime.strptime(cols[0].text, '%m. %d, %y'))
    col1.append(cols[0].text)
    col2.append(float(cols[1].text.strip()))

# Create dataframe from the lists of data
pd1_input_list = {'Month':col1,'Price_Index':col2}
df1 = pd.DataFrame(pd1_input_list)
# Get the year in separate column and get the average price_indices foe each year
df1['Year'] = df1.Month.str.slice(-4)
# Write the dataframe data to excel file
writer = pd.ExcelWriter('monthly_price_index.xlsx', engine='xlsxwriter')
df1.to_excel(writer, sheet_name='Sheet1')
writer.save()

In [180]:
df1

             Month  Price_Index  Year
0    Feb. 28, 2018        89.16  2018
1    Jan. 31, 2018        87.52  2018
2    Dec. 31, 2017        85.38  2017
3    Nov. 30, 2017        85.96  2017
4    Oct. 31, 2017        85.59  2017
5   Sept. 30, 2017        86.33  2017
6    Aug. 31, 2017        85.30  2017
7    July 31, 2017        87.57  2017
8    June 30, 2017        87.05  2017
9     May 31, 2017        88.35  2017
10  April 30, 2017        86.90  2017
11  March 31, 2017        88.26  2017
12   Feb. 28, 2017        90.08  2017
13   Jan. 31, 2017        90.15  2017
14   Dec. 31, 2016        87.92  2016
15   Nov. 30, 2016        88.44  2016
16   Oct. 31, 2016        87.71  2016
17  Sept. 30, 2016        88.87  2016
18   Aug. 31, 2016        89.36  2016
19   July 31, 2016        90.74  2016
20   June 30, 2016        92.98  2016
21    May 31, 2016        90.09  2016
22  April 30, 2016        87.08  2016
23  March 31, 2016        84.50  2016
24   Feb. 29, 2016        82.51  2016
25   Jan. 31, 2016        82.01  2016
26   Dec. 31, 2015        85.39  2015
27   Nov. 30, 2015        85.65  2015
28   Oct. 31, 2015        86.78  2015
29  Sept. 30, 2015        85.84  2015
30   Aug. 31, 2015        87.52  2015
31   July 31, 2015        90.80  2015
32   June 30, 2015        90.16  2015
33    May 31, 2015        90.10  2015
34  April 30, 2015        90.45  2015
35  March 31, 2015        90.75  2015
36   Feb. 28, 2015        93.36  2015
37   Jan. 31, 2015        94.67  2015
38   Dec. 31, 2014        96.81  2014
39   Nov. 30, 2014        98.28  2014
40   Oct. 31, 2014        98.01  2014
41  Sept. 30, 2014        98.42  2014
42   Aug. 31, 2014       102.07  2014
43   July 31, 2014       103.16  2014
44   June 30, 2014       105.16  2014
45    May 31, 2014       107.18  2014
46  April 30, 2014       107.21  2014
47  March 31, 2014       108.00  2014
48   Feb. 28, 2014       106.10  2014

### Download the data from url into csv

### Getting Data from API:

In [173]:
import requests
import sys
import json

key = 'GlanxFCOEPxiiEXJK37dPGQjnfM0wFfrZf2uuWti'
url = 'https://api.nal.usda.gov/ndb/nutrients/?format=json&api_key=GlanxFCOEPxiiEXJK37dPGQjnfM0wFfrZf2uuWti&nutrients=208&nutrients=203&nutrients=204&nutrients=205&nutrients=291&nutrients=269&nutrients=211&nutrients=212&fg=1100'
response = requests.get(url)
x = response.json()
# df3 = pd.io.json.json_normalize(x['report']['foods'])
# df3.columns = df3.columns.map(lambda x: x.split(".")[-1])

# grab the nutrient information and vegetable name information from nested dict structure from json
my_data = x['report']['foods']
nut_info = [nut for veggie in my_data for nut in veggie['nutrients']] # list of nutrient info
veg = [veggie['name'] for veggie in my_data for nut in veggie['nutrients']] # list of vegetable names - each name is repeated 8 times fro 8 nutrients

#Create dictionary to get just the nutrient value in 'gm' 
gm_dict = {}
gm_dict = defaultdict(list)
for item in nut_info:
    gm_dict['gm'].append(item['gm'])
# create the data frame of the nutrient info - each nutrient values is in each row
nutrients_df_raw = pd.DataFrame(gm_dict)

# get the nutrients in a column format by reshaping the dataframe - total 8 nutrients, so 8 columns are created

nutrients_df_raw = pd.DataFrame(np.reshape(nutrients_df_raw.values,(150,8)), 
                    columns=['Glucose','Fructose','Protein','Sugars','fat','Carbohydrate' , 'Energy', 'Fiber'])
nutrients_df_raw['Veg_full_name'] = veg[0::8] # since each name is repeated 8 times, so grab every eighth name

In [198]:
nutrients_df_raw

,Glucose,Fructose,Protein,Sugars,fat,Carbohydrate,Energy,Fiber,Veg_full_name,Vegetable
0,0.08,0.12,3.99,0.2,0.69,2.1,23,1.9,"Alfalfa seeds, sprouted, raw",
1,0.24,0.02,2.89,0.99,0.34,11.39,51,5.7,"Artichokes, (globe or french), cooked, boiled,...",
2,0.24,0.02,2.89,0.99,0.34,11.95,53,5.7,"Artichokes, (globe or french), cooked, boiled,...",
3,0.42,0.79,2.4,1.3,0.22,4.11,22,2,"Asparagus, cooked, boiled, drained",
4,0.42,0.79,2.4,1.3,0.22,4.11,22,2,"Asparagus, cooked, boiled, drained, with salt",
5,0.65,1,2.2,1.88,0.12,3.88,20,2.1,"Asparagus, raw",asparagus
6,0.29,0.33,1.12,0.78,0.46,4.32,22,1.9,"Beans, snap, green, canned, no salt added, dra...",
7,0.63,0.62,1.05,1.44,0.41,4.19,21,1.9,"Beans, snap, green, canned, regular pack, drai...",
8,0.83,1.36,1.98,2.6,0.41,6.98,33,3.4,"Beans, snap, green, frozen, all styles, microw...",
9,0.92,1.04,1.79,2.21,0.21,7.54,33,2.6,"Beans, snap, green, frozen, all styles, unprep...",
10,1.44,1.45,2.31,3.22,0.5,6.41,33,3.4,"Beans, snap, green, microwaved",
11,1.51,1.39,1.83,3.26,0.22,6.97,31,2.7,"Beans, snap, green, raw",
12,0.28,0.2,0.73,6.53,0.09,7.14,30,1.2,"Beets, canned, regular pack, solids and liquids",
13,0.23,0.24,3.83,0.62,0.52,3.12,25,2.8,"Broccoli raab, cooked",
14,0.1,0.17,3.17,0.38,0.49,2.85,22,2.7,"Broccoli raab, raw",
15,0.49,0.74,2.38,1.39,0.41,7.18,35,3.3,"Broccoli, cooked, boiled, drained, with salt",
16,0.49,0.74,2.38,1.39,0.41,7.18,35,3.3,"Broccoli, cooked, boiled, drained, without salt",
17,0.75,0.83,2.81,1.35,0.29,4.78,26,3,"Broccoli, frozen, chopped, unprepared",
18,0.49,0.68,2.82,1.7,0.37,6.64,34,2.6,"Broccoli, raw",broccoli
19,0.81,0.93,3.38,2.2,0.3,8.95,43,3.8,"Brussels sprouts, raw",
20,1.62,1.16,1.27,2.79,0.06,5.51,23,1.9,"Cabbage, common, cooked, boiled, drained, with...",
21,1.62,1.16,1.27,2.79,0.06,5.51,23,1.9,"Cabbage, cooked, boiled, drained, without salt",
22,1.67,1.45,1.28,3.2,0.1,5.8,25,2.5,"Cabbage, raw",
23,1.42,1.2,1.51,3.32,0.09,6.94,29,2.6,"Cabbage, red, cooked, boiled, drained, with salt",
24,1.42,1.2,1.51,3.32,0.09,6.94,29,2.6,"Cabbage, red, cooked, boiled, drained, without...",
25,1.74,1.48,1.43,3.83,0.16,7.37,31,2.1,"Cabbage, red, raw",
26,1.04,1,0.64,4.76,0.13,8.24,35,2.9,"Carrots, baby, raw",
27,0.28,0.26,0.59,2.46,0.14,5.36,23,1.8,"Carrots, canned, no salt added, solids and liq...",
28,0.4,0.36,0.76,3.45,0.18,8.22,35,3,"Carrots, cooked, boiled, drained, with salt",
29,0.4,0.36,0.76,3.45,0.18,8.22,35,3,"Carrots, cooked, boiled, drained, without salt",
...,...,...,...,...,...,...,...,...,...,...
120,0.52,0.55,0.5,1.07,0.3,2.41,12,1,"Pickles, cucumber, dill, reduced sodium",
121,9.17,8.81,0.58,18.27,0.41,21.15,91,1,"Pickles, cucumber, sweet (includes bread and b...",
122,0.76,0.56,6.08,1.79,14.76,27.81,268,3.3,Potato pancakes,
123,0.19,0,2.13,0.27,9.05,27.29,192,2,"Potato puffs, frozen, oven-heated",
124,0.16,0,1.93,0.28,8.71,24.8,178,2.3,"Potato puffs, frozen, unprepared",
125,0.44,0.34,2.5,1.18,0.13,21.15,93,2.2,"Potatoes, baked, flesh and skin, with salt",
126,0.44,0.34,2.5,1.18,0.13,21.15,93,2.2,"Potatoes, baked, flesh and skin, without salt",
127,0.34,0.29,1.87,0.91,0.1,20.13,87,1.8,"Potatoes, boiled, cooked in skin, flesh, witho...",
128,0.33,0.28,1.71,0.89,0.1,20.01,86,1.8,"Potatoes, boiled, cooked without skin, flesh, ...",
129,0.31,0.26,2.05,0.82,0.09,17.49,77,2.1,"Potatoes, flesh and skin, raw",
130,0.18,0,2.75,0.37,5.48,25.55,158,2,"Potatoes, french fried, all types, salt added ...",
131,0.1,0,2.24,0.2,4.66,24.81,147,1.9,"Potatoes, french fried, all types, salt added ...",
132,0.1,0,2.24,0.2,4.66,24.81,147,1.9,"Potatoes, french fried, all types, salt not ad...",
133,0.11,0,2.66,0.28,5.22,28.71,168,2.6,"Potatoes, french fried, all types, salt not ad...",
134,0.07,0,2.34,0.21,4.99,23.96,146,2,"Potatoes, french fried, crinkle or regular cut...",
135,0.12,0,2.51,0.29,5.13,27.5,161,2.3,"Potatoes, french fried, crinkle or regular cut...",
136,0.12,0,2.16,0.2,6.24,25.59,163,2.3,"Potatoes, french fried, shoestring, salt added...",
137,0.1,0,2.9,0.31,6.76,31.66,194,2.8,"Potatoes, french fried, shoestring, salt added...",
138,0.1,0,2.19,0.2,3.39,23.51,130,1.9,"Potatoes, french fried, steak fries, salt adde...",
139,0.1,0,2.57,0.25,3.76,26.98,148,2.6,"Potatoes, french fried, steak fries, salt adde...",
140,0.26,0,2.65,0.27,11.59,28.51,219,3.2,"Potatoes, hash brown, frozen, plain, prepared,...",
141,0.64,0.52,3,1.49,12.52,35.11,265,3.2,"Potatoes, hash brown, home-prepared",
142,0.61,0.45,3.24,1.16,10.3,33.99,242,3.6,"Potatoes, hash brown, refrigerated, prepared, ...",
143,0.54,0.36,1.75,0.91,0.08,19.16,84,1.8,"Potatoes, hash brown, refrigerated, unprepared",
144,0.89,0.98,8.34,3.36,0.41,81.17,354,6.6,"Potatoes, mashed, dehydrated, flakes without m...",
145,0.92,1.01,8.22,3.47,0.54,85.51,372,7.1,"Potatoes, mashed, dehydrated, granules without...",
146,0.11,0.12,1.77,1.61,5.13,10.87,97,0.8,"Potatoes, mashed, dehydrated, prepared from fl...",
147,0.16,0.18,2.13,1.74,4.8,16.13,116,1.3,"Potatoes, mashed, dehydrated, prepared from gr...",
148,0.31,0.25,1.91,1.48,0.57,17.57,83,1.5,"Potatoes, mashed, home-prepared, whole milk added",
149,0.29,0.24,1.86,1.43,4.22,16.81,113,1.5,"Potatoes, mashed, home-prepared, whole milk an...",

### Join Fresh DF and Price index dataframe

In [187]:

pi_by_year = df1.groupby('Year', as_index=False)['Price_Index'].mean() 
pi_by_year['Year'] = pi_by_year['Year'].astype(int) # convert year to int type
# merge fresh_df and pi_by_year on Year column values
final_df = pd.merge(fresh_df, pi_by_year, on="Year",how='left')

In [188]:
final_df

,Vegetable,Year,Production,Imports,Supply,Exports,Domestic_Availability,Per_Capita_Availability,Current_Dollars,Constant_2009_Dollars,Price_Index
0,artichokes,1971,79.2,26.1,105.3,--,105.3,0.507076,9.72,40.5608,NaN
1,artichokes,1972,71,46.8,117.8,--,117.8,0.56123,11.6,46.3907,NaN
2,artichokes,1973,60,43.5,103.5,--,103.5,0.488417,14.5,54.9951,NaN
3,artichokes,1974,70.2,37.8,108,--,108,0.505017,17.3,60.2074,NaN
4,artichokes,1975,73.4,32.4,105.8,--,105.8,0.489876,16.1,51.2821,NaN
5,artichokes,1976,80.6,42.9,123.5,4.6,118.9,0.545325,14.4,43.4796,NaN
6,artichokes,1977,71.3,34.5,105.8,3.8,102,0.463133,19.3,54.8716,NaN
7,artichokes,1978,52.5,58.5,111,3.3,107.7,0.48386,27,71.7265,NaN
8,artichokes,1979,87.3,54,141.3,4,137.3,0.610073,27.7,67.9755,NaN
9,artichokes,1980,79.2,58.5,137.7,4,133.7,0.587109,34.7,78.1092,NaN
10,artichokes,1981,111.6,65.4,177,5.1,171.9,0.747502,32,65.8816,NaN
11,artichokes,1982,116.3,79.2,195.5,4.4,191.1,0.82304,32.1,62.2262,NaN
12,artichokes,1983,89.2,86.1,175.3,3.2,172.1,0.734506,38.25,71.3313,NaN
13,artichokes,1984,109.9,120,229.9,4.3,225.6,0.954525,30.65,55.2004,NaN
14,artichokes,1985,133.8,116.1,249.9,6,243.9,1.02279,28.6,49.911,NaN
15,artichokes,1986,105.2,125.4,230.6,5.5,225.1,0.935379,34.45,58.9312,NaN
16,artichokes,1987,121.7,124.8,246.5,5.4,241.1,0.992982,30.2,50.3762,NaN
17,artichokes,1988,124.6,106.2,230.8,6.7,224.1,0.914615,29.35,47.3021,NaN
18,artichokes,1989,129.6,117.702,247.302,6.3,241.002,0.974368,26.5,41.1108,NaN
19,artichokes,1990,111.4,106.666,218.066,6.5,211.566,0.845815,29.5,44.1319,NaN
20,artichokes,1991,120.6,94.7021,215.302,5.7,209.602,0.826856,29.65,42.9281,NaN
21,artichokes,1992,110.4,120.276,230.676,4.9,225.776,0.878869,39.4,55.7726,NaN
22,artichokes,1993,101.2,128.117,229.317,4.5,224.817,0.863834,50.8,70.2385,NaN
23,artichokes,1994,130,209.488,339.488,5.9,333.588,1.2663,56.4,76.3555,NaN
24,artichokes,1995,92,159.608,251.608,5.1,246.508,0.924784,75.7,100.39,NaN
25,artichokes,1996,89,182.51,271.51,4.69747,266.812,0.989414,73.5,95.7243,NaN
26,artichokes,1997,93,187.328,280.328,4.7657,275.562,1.00971,79.5,101.798,NaN
27,artichokes,1998,87.3,243.474,330.774,4.98168,325.793,1.17992,70.6,89.4305,NaN
28,artichokes,1999,112.5,264.062,376.562,7.6638,368.898,1.32082,67,83.6757,NaN
29,artichokes,2000,101.2,255.531,356.731,6.08242,350.648,1.24174,60.3,73.6345,NaN
...,...,...,...,...,...,...,...,...,...,...,...
935,tomatoes,1988,3588.9,816.8,4405.7,254.201,4124.5,16.8332,27.1,43.6759,NaN
936,tomatoes,1989,3596.2,867.907,4464.11,298.025,4166.08,16.8434,33.2,51.5048,NaN
937,tomatoes,1990,3380,795.857,4175.86,293.056,3882.8,15.523,27.4,40.9904,NaN
938,tomatoes,1991,3398.8,795.492,4194.29,300.282,3894.01,15.3614,31.7,45.8961,NaN
939,tomatoes,1992,3903.3,432.167,4335.47,367.481,3967.99,15.446,35.8,50.6766,NaN
940,tomatoes,1993,3666.3,922.4,4588.7,345.831,4242.87,16.3027,31.7,43.8299,NaN
941,tomatoes,1994,3738.7,872.973,4611.67,340.749,4270.92,16.2124,27.4,37.0947,NaN
942,tomatoes,1995,3409.8,1368.91,4778.71,289.228,4489.48,16.8425,25.5,33.8169,NaN
943,tomatoes,1996,3363.4,1625.14,4988.54,295.441,4693.1,17.4033,28.1,36.5966,NaN
944,tomatoes,1997,3424.84,1636.84,5061.68,341.677,4720.01,17.295,31.7,40.5911,NaN
945,tomatoes,1998,3525.6,1868.02,5393.62,286.324,5107.29,18.497,35.2,44.5886,NaN
946,tomatoes,1999,4026.9,1633.05,5659.95,334.35,5325.6,19.068,25.8,32.2214,NaN
947,tomatoes,2000,4162,1609.39,5771.39,410.353,5361.03,18.9849,30.7,37.4889,NaN
948,tomatoes,2001,4061.1,1815.64,5876.74,397.936,5478.8,19.2031,30,35.8141,NaN
949,tomatoes,2002,4289.3,1894.87,6184.17,332.341,5851.83,20.3115,31.6,37.1529,NaN
950,tomatoes,2003,3888.4,2071.14,5959.54,314.23,5645.32,19.4117,37.5,43.2257,NaN
951,tomatoes,2004,4169.6,2054.2,6223.8,369.269,5854.53,19.9498,37.4,41.9602,NaN
952,tomatoes,2005,4196.9,2098.11,6295.01,326.507,5968.51,20.1512,41.6,45.2218,NaN
953,tomatoes,2006,4041.1,2187.88,6228.98,317.75,5911.23,19.7703,43.7,46.0883,NaN
954,tomatoes,2007,3795.6,2361.07,6156.67,355.69,5800.98,19.2083,34.8,35.7528,NaN
955,tomatoes,2008,3554.6,2460.57,6015.17,372.272,5642.9,18.5136,45.3,45.6488,NaN
956,tomatoes,2009,3775.5,2622.62,6398.12,375.589,6022.53,19.5893,40.4,40.4,NaN
957,tomatoes,2010,3253.8,3378.56,6632.36,266.214,6366.14,20.5514,48.2,47.6233,NaN
958,tomatoes,2011,3508.14,3287.12,6795.26,252.57,6542.69,20.961,36.1,34.981,NaN
959,tomatoes,2012,3412.84,3377.84,6790.68,258.665,6532.01,20.7735,30.5,29.0024,NaN
960,tomatoes,2013,3253.83,3389.54,6643.37,241.335,6402.03,20.213,44.6,41.7112,NaN
961,tomatoes,2014,3386.37,3435.79,6822.16,248.74,6573.42,20.5945,41.5,38.185,102.763636
962,tomatoes,2015,3342.62,3468.35,6810.97,214.182,6596.79,20.5423,46.3,42.1779,89.289167
963,tomatoes,2016,2830.93,3938.33,6769.26,186.894,6582.36,20.3568,42.5,38.1363,87.684167
964,tomatoes,2017,2845.42,3943.63,6789.06,188.245,6600.81,20.2749,37.3,32.9688,87.243333

### Find the common vegetables in Nutrient DF and Final DF and then merge the two DF

In [189]:
raw_names_nut = [ item for item in nutrients_df_raw['Veg_full_name'] if item.find('raw') > 0]
# find nutrient information for all the vegetables that are present in the fresh vegetables DF
nutrients_df_raw['Vegetable'] = ''
for veg in final_df['Vegetable'].unique():
    veggie = veg + ', raw'
    raw_veggie = [rnn for rnn in raw_names_nut if veggie.lower() in rnn.lower()]
    if len(raw_veggie) > 0:
        true_idx = nutrients_df_raw['Veg_full_name'] == raw_veggie[0]
        nutrients_df_raw['Vegetable'][true_idx] = veg
# Merge nutrients dataframe and Final DF
final_df = pd.merge(final_df, nutrients_df_raw, on="Vegetable", how = 'left')

# Write the dataframe data to excel file
writer = pd.ExcelWriter('final_data.xlsx', engine='xlsxwriter')
final_df.to_excel(writer, sheet_name='Sheet1')
writer.save()

In [195]:
final_df

,Vegetable,Year,Production,Imports,Supply,Exports,Domestic_Availability,Per_Capita_Availability,Current_Dollars,Constant_2009_Dollars,Price_Index,Glucose,Fructose,Protein,Sugars,fat,Carbohydrate,Energy,Fiber,Veg_full_name
0,artichokes,1971,79.2,26.1,105.3,--,105.3,0.507076,9.72,40.5608,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,artichokes,1972,71,46.8,117.8,--,117.8,0.56123,11.6,46.3907,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,artichokes,1973,60,43.5,103.5,--,103.5,0.488417,14.5,54.9951,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,artichokes,1974,70.2,37.8,108,--,108,0.505017,17.3,60.2074,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,artichokes,1975,73.4,32.4,105.8,--,105.8,0.489876,16.1,51.2821,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,artichokes,1976,80.6,42.9,123.5,4.6,118.9,0.545325,14.4,43.4796,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,artichokes,1977,71.3,34.5,105.8,3.8,102,0.463133,19.3,54.8716,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,artichokes,1978,52.5,58.5,111,3.3,107.7,0.48386,27,71.7265,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,artichokes,1979,87.3,54,141.3,4,137.3,0.610073,27.7,67.9755,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,artichokes,1980,79.2,58.5,137.7,4,133.7,0.587109,34.7,78.1092,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,artichokes,1981,111.6,65.4,177,5.1,171.9,0.747502,32,65.8816,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,artichokes,1982,116.3,79.2,195.5,4.4,191.1,0.82304,32.1,62.2262,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,artichokes,1983,89.2,86.1,175.3,3.2,172.1,0.734506,38.25,71.3313,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,artichokes,1984,109.9,120,229.9,4.3,225.6,0.954525,30.65,55.2004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,artichokes,1985,133.8,116.1,249.9,6,243.9,1.02279,28.6,49.911,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,artichokes,1986,105.2,125.4,230.6,5.5,225.1,0.935379,34.45,58.9312,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,artichokes,1987,121.7,124.8,246.5,5.4,241.1,0.992982,30.2,50.3762,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,artichokes,1988,124.6,106.2,230.8,6.7,224.1,0.914615,29.35,47.3021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,artichokes,1989,129.6,117.702,247.302,6.3,241.002,0.974368,26.5,41.1108,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,artichokes,1990,111.4,106.666,218.066,6.5,211.566,0.845815,29.5,44.1319,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,artichokes,1991,120.6,94.7021,215.302,5.7,209.602,0.826856,29.65,42.9281,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,artichokes,1992,110.4,120.276,230.676,4.9,225.776,0.878869,39.4,55.7726,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,artichokes,1993,101.2,128.117,229.317,4.5,224.817,0.863834,50.8,70.2385,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,artichokes,1994,130,209.488,339.488,5.9,333.588,1.2663,56.4,76.3555,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,artichokes,1995,92,159.608,251.608,5.1,246.508,0.924784,75.7,100.39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,artichokes,1996,89,182.51,271.51,4.69747,266.812,0.989414,73.5,95.7243,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,artichokes,1997,93,187.328,280.328,4.7657,275.562,1.00971,79.5,101.798,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,artichokes,1998,87.3,243.474,330.774,4.98168,325.793,1.17992,70.6,89.4305,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,artichokes,1999,112.5,264.062,376.562,7.6638,368.898,1.32082,67,83.6757,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,artichokes,2000,101.2,255.531,356.731,6.08242,350.648,1.24174,60.3,73.6345,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
935,tomatoes,1988,3588.9,816.8,4405.7,254.201,4124.5,16.8332,27.1,43.6759,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
936,tomatoes,1989,3596.2,867.907,4464.11,298.025,4166.08,16.8434,33.2,51.5048,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
937,tomatoes,1990,3380,795.857,4175.86,293.056,3882.8,15.523,27.4,40.9904,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
938,tomatoes,1991,3398.8,795.492,4194.29,300.282,3894.01,15.3614,31.7,45.8961,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
939,tomatoes,1992,3903.3,432.167,4335.47,367.481,3967.99,15.446,35.8,50.6766,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
940,tomatoes,1993,3666.3,922.4,4588.7,345.831,4242.87,16.3027,31.7,43.8299,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
941,tomatoes,1994,3738.7,872.973,4611.67,340.749,4270.92,16.2124,27.4,37.0947,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
942,tomatoes,1995,3409.8,1368.91,4778.71,289.228,4489.48,16.8425,25.5,33.8169,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
943,tomatoes,1996,3363.4,1625.14,4988.54,295.441,4693.1,17.4033,28.1,36.5966,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
944,tomatoes,1997,3424.84,1636.84,5061.68,341.677,4720.01,17.295,31.7,40.5911,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
945,tomatoes,1998,3525.6,1868.02,5393.62,286.324,5107.29,18.497,35.2,44.5886,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
946,tomatoes,1999,4026.9,1633.05,5659.95,334.35,5325.6,19.068,25.8,32.2214,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
947,tomatoes,2000,4162,1609.39,5771.39,410.353,5361.03,18.9849,30.7,37.4889,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
948,tomatoes,2001,4061.1,1815.64,5876.74,397.936,5478.8,19.2031,30,35.8141,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
949,tomatoes,2002,4289.3,1894.87,6184.17,332.341,5851.83,20.3115,31.6,37.1529,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
950,tomatoes,2003,3888.4,2071.14,5959.54,314.23,5645.32,19.4117,37.5,43.2257,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
951,tomatoes,2004,4169.6,2054.2,6223.8,369.269,5854.53,19.9498,37.4,41.9602,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
952,tomatoes,2005,4196.9,2098.11,6295.01,326.507,5968.51,20.1512,41.6,45.2218,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
953,tomatoes,2006,4041.1,2187.88,6228.98,317.75,5911.23,19.7703,43.7,46.0883,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
954,tomatoes,2007,3795.6,2361.07,6156.67,355.69,5800.98,19.2083,34.8,35.7528,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
955,tomatoes,2008,3554.6,2460.57,6015.17,372.272,5642.9,18.5136,45.3,45.6488,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
956,tomatoes,2009,3775.5,2622.62,6398.12,375.589,6022.53,19.5893,40.4,40.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
957,tomatoes,2010,3253.8,3378.56,6632.36,266.214,6366.14,20.5514,48.2,47.6233,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
958,tomatoes,2011,3508.14,3287.12,6795.26,252.57,6542.69,20.961,36.1,34.981,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
959,tomatoes,2012,3412.84,3377.84,6790.68,258.665,6532.01,20.7735,30.5,29.0024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
960,tomatoes,2013,3253.83,3389.54,6643.37,241.335,6402.03,20.213,44.6,41.7112,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
961,tomatoes,2014,3386.37,3435.79,6822.16,248.74,6573.42,20.5945,41.5,38.185,102.763636,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
962,tomatoes,2015,3342.62,3468.35,6810.97,214.182,6596.79,20.5423,46.3,42.1779,89.289167,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
963,tomatoes,2016,2830.93,3938.33,6769.26,186.894,6582.36,20.3568,42.5,38.1363,87.684167,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
964,tomatoes,2017,2845.42,3943.63,6789.06,188.245,6600.81,20.2749,37.3,32.9688,87.243333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [177]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28 entries, 0 to 27
Data columns (total 20 columns):
Vegetable                  28 non-null object
Year                       28 non-null object
Production                 28 non-null object
Imports                    28 non-null object
Supply                     28 non-null object
Exports                    28 non-null object
Domestic_Availability      28 non-null object
Per_Capita_Availability    28 non-null object
Current_Dollars            28 non-null object
Constant_2009_Dollars      28 non-null object
Price_Index                28 non-null float64
Glucose                    28 non-null object
Fructose                   28 non-null object
Protein                    28 non-null object
Sugars                     28 non-null object
fat                        28 non-null object
Carbohydrate               28 non-null object
Energy                     28 non-null object
Fiber                      28 non-null object
Veg_full_name              28 non-null object
dtypes: float64(1), object(19)
memory usage: 4.6+ KB

In [199]:
imports = final_df.groupby('Vegetable')['Imports'].sum() 
imports.plot.bar()
plt.title('Total Imports per vegetable')
plt.xticks(rotation=20)
plt.ylabel('Imports')
plt.show()

# Make note of units when displaying in charts
# Currently using only 4 years of data. Can we increase more data.

TypeError: must be str, not float

In [184]:
imports

Vegetable
asparagus      1893.876983
broccoli       1805.789438
carrots        1757.103364
cauliflower     363.023508
celery          484.941006
eggplant        603.348508
kale             40.433333
Name: Imports, dtype: float64